#a {
    display: flex;
    flex-wrap: wrap;
}
#a {
    background-color: #fafa6e;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}

#b {
    display: flex;
    flex-wrap: wrap;
}
#b {
    background-color: #c4ec74;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}

#c {
    display: flex;
    flex-wrap: wrap;
}
#c {
    background-color: #92dc7e;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}


#d {
    display: flex;
    flex-wrap: wrap;
}
#d {
    background-color: #64c987;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}

#e {
    display: flex;
    flex-wrap: wrap;
}
#e {
    background-color: #39b48e;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}

#f {
    display: flex;
    flex-wrap: wrap;
}
#f {
    background-color: #089f8f;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}


#g {
    display: flex;
    flex-wrap: wrap;
}
#g {
    background-color: #00898a;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}


#h {
    display: flex;
    flex-wrap: wrap;
}
#h {
    background-color: #08737f;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}


#i {
    display: flex;
    flex-wrap: wrap;
}
#i {
    background-color: #215d6e;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}


#j {
    display: flex;
    flex-wrap: wrap;
}
#j {
    background-color: #2a4858;
    font-size: 30px;
    font-family: sans-serif;
    margin: 20px;
    width: 920px;
    height: 90px;
}
